*{
    margin: 0;
}

.todo-container{
    width: 100%;
    background-color: rgb(55, 77, 45);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.column{
    width: 20rem;
    height: 60%;
    border: 1px dotted yellow;
    background-color: darkolivegreen;
}

.list{
    background-color: red;
    margin: 1rem;
    padding: 1rem;
}

.container-buttons{
    display: flex;
    justify-content: space-around;
}

.action{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}